<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Première page TWIG</title>
</head>
<body>
<h1>Hello World</h1>

<p>Un petit Hello world pour tester à nouveau les fonctionnalités de Symfony</p>


</body>
</html>